/* -------------------------------- 

Login / Registar

-------------------------------- */
.main-nav ul.is-visible {
	-webkit-transform: translateY(50px);
	-moz-transform: translateY(50px);
	-ms-transform: translateY(50px);
	-o-transform: translateY(50px);
	transform: translateY(50px);
}

@media only screen and (min-width: 768px) {
	.main-nav ul.is-visible {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

.cd-user-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(52, 54, 66, 0.9);
	z-index: 3000;
	overflow-y: auto;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
	-moz-transition: opacity 0.3s 0, visibility 0 0.3s;
	transition: opacity 0.3s 0, visibility 0 0.3s;
}

.cd-user-modal.is-visible {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s 0, visibility 0 0;
	-moz-transition: opacity 0.3s 0, visibility 0 0;
	transition: opacity 0.3s 0, visibility 0 0;
}

.cd-user-modal.is-visible .cd-user-modal-container {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.cd-user-modal-container {
	position: relative;
	width: 90%;
	z-index: 200;
	max-width: 600px;
	background: #FBFBFB !important;
	margin: 3em auto 4em;
	cursor: auto;
	border-radius: 0.25em;
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.cd-user-modal-container .cd-switcher:after {
	content: "";
	display: table;
	clear: both;
}

.cd-user-modal-container .cd-switcher li {
	width: 50%;
	float: left;
	text-align: center;
}

.cd-user-modal-container .cd-switcher li:first-child a {
	border-radius: .25em 0 0 0;
}

.cd-user-modal-container .cd-switcher li:last-child a {
	border-radius: 0 .25em 0 0;
}

.cd-user-modal-container .cd-switcher a {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #d2d8d8;
	color: #809191;
}

.cd-user-modal-container .cd-switcher a.selected {
	background: #FBFBFB !important;
	color: #505260;
}

@media only screen and (min-width: 600px) {
	.cd-user-modal-container {
		margin: 4em auto;
	}
	
	.cd-user-modal-container .cd-switcher a {
		font-family: "Inter";
		color: #23527c;
		height: 70px;
		line-height: 70px;
		text-decoration: none;
	}
}

.cd-form {
	padding: 1.4em;
}

.cd-form .fieldset {
	position: relative;
	margin: 1.4em 0;
}

.cd-form .fieldset:first-child {
	margin-top: 0;
}

.cd-form .fieldset:last-child {
	margin-bottom: 0;
}

.cd-form label {
	font-size: 14px;
	font-size: 0.875rem;
}

.cd-form label.image-replace {
	display: inline-block;
	position: absolute;
	left: 15px;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 20px;
	width: 20px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
	text-shadow: none;
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.cd-form input {
	margin: 0;
	padding: 0;
	border-radius: 0.25em;
}

.cd-form input.full-width {
	width: 100%;
}

.cd-form input.has-padding {
	padding: 12px 20px 12px 50px;
}

.cd-form input:focus.has-padding {
	padding: 12px 20px 12px 50px !important;
}

.cd-form input.has-border {
	border: 1px solid #d2d8d8;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.cd-form input.has-error {
	border: 1px solid #d76666;
}

.cd-form input[type=password] {
	padding-right: 65px;
}

.cd-form input[type=submit] {
	font-family: "Inter";
	background: #0052B4;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	color: #FFF;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	left: 0px;
}

.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
	background: #3599ae;
	outline: none;
}

.cd-form .hide-password {
	font-family: "Inter";
	font-size: 14px;
	color: #343642;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 50%;
	bottom: auto;
	padding: 6px 15px;
	border-left: 1px solid #d2d8d8;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
  
}

.cd-form .cd-error-message {
	display: inline-block;
	position: absolute;
	left: -5px;
	bottom: -35px;
	background: rgba(215, 102, 102, 0.9);
	padding: .8em;
	z-index: 2;
	color: #FFF;
	font-size: 13px;
	border-radius: 0.25em;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
	-moz-transition: opacity 0.2s 0, visibility 0 0.2s;
	transition: opacity 0.2s 0, visibility 0 0.2s;
}

.cd-form .cd-error-message::after {
	content: '';
	position: absolute;
	left: 22px;
	bottom: 100%;
	height: 0;
	width: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-form .cd-error-message.is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.2s 0, visibility 0 0;
	-moz-transition: opacity 0.2s 0, visibility 0 0;
	transition: opacity 0.2s 0, visibility 0 0;
}

@media only screen and (min-width: 600px) {
	.cd-form {
		padding: 2em;
	}
	
	.cd-form .fieldset {
		margin: 2em 0;
	}
	
	.cd-form .fieldset:first-child {
		margin-top: 0;
	}
	
	.cd-form .fieldset:last-child {
		margin-bottom: 0;
	}
}

.cd-form-message {
	font-family: "Inter";
	padding: 1.4em 1.4em 0;
	font-size: 14px;
	line-height: 1.4;
	text-align: center;
}

@media only screen and (min-width: 600px) {
	.cd-form-message {
		padding: 2em 2em 0;
	}
}

.cd-form-bottom-message {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -50px;
	text-align: center;
	font-size: 14px;
}

.cd-form-bottom-message a {
	color: #FBFBFB;
}

.cd-form-bottom-message a:hover {
	color: #FBFBFB;
	text-decoration: underline;
}

#cd-login, #cd-signup, #cd-reset-password {
	display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
	display: block;
}

